html, body{
	height: 100%;
}
body{
	background-image: linear-gradient(to right, #09A099 , #5009A0);
}
main{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
h1{
	font-size: 5em;
}
input{
	height: 60px;
	width: 700px;
	font-size: 2em;
	background-color: #D9E7EC;
	color: #1c1c1c;
	border-radius: 5px;
	border: none; 
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #5009A0;
	color: #D9E7EC;
	width: 800px;
	height: 700px;
	border-radius: 15px;
	box-shadow:  1px 8px 10px 2px #fff;
}
button{
	width: 200px;
	height: 60px;
	font-size: 2em;
	border-radius: 10px;
	background-color: #09A099;
	color:#D9E7EC;
	border: 2px solid #D9E7EC;
	margin-top: 1em;
}
button:hover{
	background-color: #D9E7EC;
	color: #09A099;
	border: 2px solid #09A099;	
}

label{
	font-size: 2.4em;
}

.imc{
	margin-top: 20px;
	font-size: 2.5rem;
}
@media screen and (max-width: 950px){
	input{
		height: 50px;
		width: 600px;
		font-size: 1.6em;
	}
	.container{
		width: 670px;
		height: 650px;		
	}
}
@media screen and (max-width: 750px){
	h1{
		font-size: 4em;
	}
	input{
		height: 40px;
		width: 500px;
		font-size: 1.4em;
	}
	.container{
		width: 600px;
		height: 650px;		
	}
	button{
		width: 180px;
		height: 50px;
		font-size: 1.8em;
		margin-top: 0.7em;
	}
	label{
		font-size: 2rem;
	}
	.imc{
		font-size: 2rem;
	}
}
@media screen and (max-width: 650px){
	h1{
		font-size: 3.5em;
	}
	input{
		height: 40px;
		width: 400px;
		font-size: 1.4em;
	}
	.container{
		width: 500px;
		height: 550px;		
	}
	button{
		width: 180px;
		height: 50px;
		font-size: 1.8em;

	}
	label{
		font-size: 1.5rem;
	}
	.imc{
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 590px){
	h1{
		font-size: 3em;
	}
	input{
		height: 30px;
		width: 350px;
		font-size: 1.1em;
	}
	.container{
		width: 450px;
		height: 480px;		
	}
	button{
		width: 180px;
		height: 50px;
		font-size: 1.8em;

	}
	label{
		font-size: 1.5rem;
	}
	.imc{
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 510px){
	h1{
		font-size: 2.5em;
	}
	input{
		height: 30px;
		width: 320px;
		font-size: 1.1em;
	}
	.container{
		width: 400px;
		height: 420px;		
	}
	button{
		width: 180px;
		height: 50px;
		font-size: 1.8em;

	}
	label{
		font-size: 1.4rem;
	}
	.imc{
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 446px){
	h1{
		font-size: 2.2em;
	}
	input{
		height: 30px;
		width: 300px;
		font-size: 1.1em;
	}
	.container{
		width: 330px;
		height: 390px;		
	}
	button{
		width: 130px;
		height: 40px;
		font-size: 1.5em;

	}
	label{
		font-size: 1.2rem;
	}
	.imc{
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 378px){
	h1{
		font-size: 2em;
	}
	input{
		height: 25px;
		width: 250px;
		font-size: 1.1em;
	}
	.container{
		width: 290px;
		height: 330px;		
	}
	button{
		width: 100px;
		height: 30px;
		font-size: 1.2em;

	}
	label{
		font-size: 1rem;
	}
	.imc{
		font-size: 1rem;
	}
}
@media screen and (max-width: 334px){
	h1{
		font-size: 1.5em;
	}
	input{
		height: 20px;
		width: 220px;
		font-size: 0.9em;
	}
	.container{
		width: 250px;
		height: 300px;		
	}
	button{
		width: 100px;
		height: 30px;
		font-size: 1.2em;

	}
	label{
		font-size: 0.9rem;
	}
	.imc{
		font-size: 1rem;
	}
}